div {
  text-align: center;
  font-size: x-large;
}
img {
  display: block;
  margin: auto;
  width: 25%;
}
.error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: rgb(255, 6, 6);
}
